src/main/app/assignment7.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <spring:beans>
    <spring:bean class="assignment7.java1" name="InvokeJava1">
    
    
    </spring:bean>
    </spring:beans>
    <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <spring:beans>
    <spring:bean class="assignment7.Java2" name="InvokeJava2">
    
    
    </spring:bean>
    </spring:beans>
    <flow name="assignment7Flow">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/invoke" allowedMethods="POST" doc:name="HTTP"/>
        <invoke object-ref="InvokeJava1" method="reverse" methodArguments="#[message.inboundProperties.'http.query.params'.name]" doc:name="Invoke"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="assignment7Flow1">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/java"  doc:name="HTTP"/>
        <set-variable variableName="name" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Variable"/>
        <custom-transformer class="assignment7.Java2" doc:name="Java" >
        </custom-transformer>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
